<div class="col-md-4 offset-md-4" style="padding-top: 80px">
    <h2 class="text-center">Sign In</h2>

    <form action="signin" method="post">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" , name="email" , placeholder="Enter Your Email" , class="form-control">
        </div>
        <br>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" , name="password" , placeholder="Enter Your password" , class="form-control">
        </div>
        <br>
        <button type="submit" , class="btn btn-primary">Sign In</button>
    </form>
</div>